.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: calc(100vw * 0.078125);
  padding: 0 30px;
  margin-bottom: 16px;
  border-bottom: 1px solid #373e41;
}
