.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 530px;
  height: 105px;
  padding: 10px 20px 10px 20px;
  border-radius: 4px;
  background-color: #848892;
  box-shadow: 0px 4px 1px rgba(0, 0, 0, 0.2), 0px 2px 1px rgba(0, 0, 0, 0.14),
    0px 2px 3px rgba(0, 0, 0, 0.12);
  font-size: 20px;
}

.input {
  width: 277px;
  margin: 10px 0 10px 10px;
}
