.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 28px;
  height: calc(100vh - (100vw * 0.078125) - 60px);
  margin: 20px;
  box-shadow: 0px 2px 1px rgba(255, 255, 255, 0.4),
    0px 1px 1px rgba(255, 255, 255, 0.28), 0px 1px 3px rgba(255, 255, 255, 0.24);
}

.text {
  width: calc(100vw * 0.27);
  height: calc(100vw * 0.33);
  padding: 10px;
  margin: 10px;
  color: #000407;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: inset 0px 0px 6px 1px rgba(255, 255, 255, 0.9);
  border: solid 2px #000000;
}

.window {
  composes: text;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100vw * 0.34);
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5);
}

.glass {
  composes: text;
  width: calc(100vw * 0.34);
  padding: 0;
  background-color: rgba(255, 255, 255, 0.08);
}

.form {
  width: calc(100vw * 0.34 - 40px);
  font-size: 24px;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.list {
  composes: box;
  height: auto;
  background-color: rgba(255, 255, 255, 0.6);
  border: solid 1px #ffffff;
  box-shadow: 0px 0px 6px 1px rgba(255, 255, 255, 0.9);
}

.alert {
  display: inline-block;
  padding: 0 20px;
}
