.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 530px;
  padding: 10px 0 10px 0;
  margin: 20px 0 0 0;
  border-radius: 4px;
  list-style: none;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  background-color: #e6d8b4;
  padding: 10px 20px 10px 20px;
  margin: 5px 0 5px 0;
  border-radius: 4px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}

.text {
  font-size: 20px;
}

.btn {
  display: block;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: none;
  border-radius: 4px;
  padding: 12px 24px;
  margin-top: 10px;
  background-color: #be6b33;
  color: #1f0802;
  /* font-size: 16px; */
}

.btn:hover,
.btn:focus {
  background-color: #ad4200;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
